@model Vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Customers.Count == 0)
{
    <h4>We currently have no customers.</h4>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.Customers)
            {
                <tr class="table-active">
                    <td>
                        @Html.ActionLink(c.Name, "CustomerDetails", "Customers", new { id = c.Id }, null)
                    </td>
                </tr>
            }           
        </tbody>
    </table>
}





















